<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.faendir.lightning_launcher.scriptlib">

    <uses-permission android:name="net.pierrox.lightning_launcher.USE_PLUGIN_SERVICE"/>


    <application
        android:allowBackup="true"
        android:label="@string/app_name">
        <activity
            android:name="PermissionActivity"
            android:theme="@style/Transparent" />
        <activity
            android:name=".DialogActivity"
            android:theme="@style/Transparent" />
    </application>

</manifest>
